<launch>
	
	<param name="robot_description" command="$(find xacro)/xacro $(find bot_demo)/urdf/robot.urdf.xacro" />
 
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<node name="rviz" pkg="rviz" type="rviz"  args="-d $(find bot_demo)/config/final.rviz"/>

</launch>