<launch>

    <param name="use_sim_time" value="true"/>
    <!--robot-->
    <param name="robot_description" command="$(find xacro)/xacro $(find bot_demo)/urdf/robot.urdf.xacro" />

    <!--<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->

    <!--worlds-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find bot_demo)/worlds/1004.world" />
    </include>

    <!--gazebo-->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" args="-urdf -model robot -param robot_description" output="screen" />

</launch>